@page "/add-product"


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="MyProduct" Enhance OnvalidSubmit="HandleSaveProduct">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="card">
                    <div class="card-header">Add Product</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <InputText @blind-Value="MyProduct.Name" class="form-control"></InputText>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Price</label>
                            <InputText @blind-Value="MyProduct.Price" class="form-control"></InputText>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Quanlity</label>
                            <InputText @blind-Value="MyProduct.Quanlity" class="form-control"></InputText>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label @(ImageUploadMessage==""?"":"text-danger")">
                                @(ImageUploadMessage == "" ? "Upload Image" : ImageUploadMessage)
                                </label>
                            <InputFile class="form-control" OnChange="UploadImage"></InputFile>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Description</label>
                            <InputTextArea @blind-Value="MyProduct.Description" class="form-control"></InputTextArea>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group mt-3">
                            @if(ShowSaveButton)
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class="fa fa-plus"></i>Save Product</button>

                            }
                            <BusyButtonComponent ShowBusyButton="ShowBusyButton"></BusyButtonComponent>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
@code {

    Product MyProduct = new();
    string ImageUploadMessage = "";
    async Task HandleSaveProduct()
    {
        ShowSaveButton = false;
        ShowBusyButton = !ShowSaveButton;
        if (string.IsNullOrEmpty(MyProduct.Base64Img))
        {
            messageDialog!.SetDialogValues("Warning", "You need choose image!");
            MessageDialog();
            return;
        }

        var (flag, message) = await ProductService.AddProduct(MyProduct);
        if (flag)
            messageDialog!.SetDialogValues("Success", message);
        else
            messageDialog!.SetDialogValues("Danger", message);

        SetMessageDialog();
        return;
    }

    string ImageUploadMessage = "";
    async Task UploadImage(InputFileChangeEventArgs e)
    {
        if(e.File.Name.ToLower().Contains(".png"))
        {
            var format = "image/png";
            var resizeImage = await e.File.RequestImageFileAsync(format, 300, 300);
            var buffer = new byte[resizeImage.Size];
            await resizeImage.OpenReadStream().ReadAsync(buffer);
            var imageData = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
            ImageUploadMessage = "";
            MyProduct.Base64Img = imageData;
            imageData = "";
            return;
        }
        ImageUploadMessage = "PNG file needed";
        return;
    }
}


  
